<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="app.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>        
        <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AtendeClienteServiceSoapBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="AtendeClienteServiceSoapBinding1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente" binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding" contract="WebServiceCEP.AtendeCliente" name="AtendeClientePort"/>
    </client>
  </system.serviceModel>
  <userSettings>
    <app.Properties.Settings>
      <setting name="DataBase" serializeAs="String">
        <value/>
      </setting>
      <setting name="User" serializeAs="String">
        <value/>
      </setting>
      <setting name="Login" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BackGround" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BackGroungPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="dbHost" serializeAs="String">
        <value>45.132.157.1</value>
      </setting>
      <setting name="dbName" serializeAs="String">
        <value>u587292910_gauchateleentu</value>
      </setting>
      <setting name="dbUser" serializeAs="String">
        <value>u587292910_gauchaentulhos</value>
      </setting>
      <setting name="dbPass" serializeAs="String">
        <value>G@ucha2024</value>
      </setting>
      <setting name="logPath" serializeAs="String">
        <value>ssdgfsd</value>
      </setting>
    </app.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
